body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    background-image: url(images/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    /**background-image: url(images/background.webp);**/
}
.nav-wrapper{
    display:flex;
    justify-content: space-between;
    padding: 18px;
}
.brand{
    font-size:xx-large;
}
.left-side{
    display:flex;
}/**
.nav-link-wrapper {
color: red;
}**/
/**
.nav-link-wrapper1 {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}
.container .nav-wrapper .left-side {
    padding: 5px;

}**/
a {
padding: 5px;
text-decoration: none;
color: pink;
transition: color 0.5s;
}
a:hover {
    color: aquamarine;
}
.brand {
    font-size: x-large;
}
/**
#HOME {
    padding: 5px;
}
.nav-link-wrapper1 .HOME {
    padding: 5px;
}
**/
.login-form {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;

}
.login-form label {
    display: block;
    font-weight: bold;
}
.login-form input {
    width: 30%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: large;
}
.login-form button {
    width: 6%;
    padding: 10px;
    font-size: large;
    background-color: pink;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 40px;
}
.login-form button:hover {
    background-color: aquamarine;
}
.comment {
    font-size:xx-large;
    display: flex;
    justify-content: center;
    animation: colorChange 3s infinite;
}
@keyframes colorChange {
    0% { color: aqua; }
    50% { color: black; }
    100% { color: pink; }
}
.header {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: larger;
}
.form {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 40px;
    padding: 40px;
    border-radius: 5px;
}
label {
    display: block;
    font-weight: bold;
    height: 
    width: 
}
input {
    width: 400px;
    height: 20px;
    padding:
}

#home {
    background-color: aquamarine;
    background-size: cover;
    width: 100%;
    height: 30vh;
    background-position: top 30px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 10px 30px; 
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
    margin-top: 20px;
    margin-left: 20px;
}
button:hover {
    background-color: #3a3833;

}